.black-button {
  background-color: black;
  color: white;
}

.red-button {
  background-color: red;
}

.yellow-button {
  background-color: yellow;
}

.green-button {
  background-color: green;
}

button {
  border: none;
  margin: 10px;
  display: flex;
}

#buttons-container {
  display: flex;
  flex-direction: column;
}